<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <title>METMAN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="row" style="margin-top: 50px; text-align: center">
      <h1 class="display-4 col-lg-5 col-md-12">41 Node Man</h1>
      <div class="btn-group col-lg-4 col-md-12" style="margin-top: 15px; display: block;" role="group" aria-label="Basic example">
        <button type="button" onclick="showThis(0)" class="btn btn-outline-primary">Mode 0</button>
        <button type="button" onclick="showThis(1)" class="btn btn-outline-primary">Mode 1</button>
        <button type="button" onclick="showThis(2)" class="btn btn-outline-primary">Mode 2</button>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="mode0jumbo" style="padding: 25px; margin-top: 20px">
      <div class="container">
        <div class="row">
          <h3 class="col-5">Mode 0</h3>
          <div class="btn-group col-7" style="display: block;" role="group" aria-label="Basic example">
            <button type="button"  onclick="clearButton()" class="btn btn-outline-danger">Clear</button>
            <button type="button"  onclick="runButton()" class="btn btn-outline-danger">Run</button>
          </div>
        </div>
      <p class="lead">Some description of this mode goes here.</p>
        <div class="row">
          <div class="col-lg-4 col-md-12">
              <% var x = m0f.length;
              var y = x/3;
              var n = 0;
              for (var i = 0; i < y; i++) { %>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m0f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m0" + n.toString()%>" class="form-control" type="text" value="<%= m0d[n]%>" id="example-text-input">
                </div>
              </div>
              <% n++; }%>
          </div>
          <div class="col-lg-4 col-md-12">
              <%
              for (var i = 0; i < y; i++) { %>
            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label"><%= m0f[n]%></label>
              <div class="col-9">
                <input id="<%= "m0" + n.toString()%>" class="form-control" type="text" value="<%= m0d[n]%>" id="example-text-input">
              </div>
            </div>
              <% n++; }%>
          </div>
          <div class="col-lg-4 col-md-12">
              <%
              for (var i = 0; i < y; i++) {
                if (n >= x) {
                  break;
                }%>%>
            <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label"><%= m0f[n]%></label>
              <div class="col-9">
                <input id="<%= "m0" + n.toString()%>" class="form-control" type="text" value="<%= m0d[n]%>" id="example-text-input">
              </div>
            </div>
              <% n++; }%>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="mode1jumbo" style="padding: 25px; margin-top: 20px">
      <div class="container">
        <div class="row">
          <h3 class="col-5">Mode 1</h3>
          <div class="btn-group col-7" style="display: block;" role="group" aria-label="Basic example">
            <button type="button" onclick="clearButton()" class="btn btn-outline-danger">Clear</button>
            <button type="button" onclick="runButton()" class="btn btn-outline-danger">Run</button>
          </div>
        </div>
          <p class="lead">Some description of this mode goes here.</p>
          <div class="row">
            <div class="col-lg-4 col-md-12">
                <% var x = m1f.length;
                var y = x/3;
                if (x % 3 > 0) {
                  //y += 1;
                }
                var n = 0;
                for (var i = 0; i < y; i++) { %>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m1f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m1" + n.toString()%>" class="form-control" type="text" value="<%= m1d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
            <div class="col-lg-4 col-md-12">
                <%
                for (var i = 0; i < y; i++) { %>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m1f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m1" + n.toString()%>" class="form-control" type="text" value="<%= m1d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
            <div class="col-lg-4 col-md-12">
                <%
                for (var i = 0; i < y; i++) {
                if (n >= x) {
                  break;
                }%>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m1f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m1" + n.toString()%>" class="form-control" type="text" value="<%= m1d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
          </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="mode2jumbo" style="padding: 25px; margin-top: 20px">
      <div class="container">
        <div class="row">
          <h3 class="col-5">Mode 2</h3>
          <div class="btn-group col-7" style="display: block;" role="group" aria-label="Basic example">
            <button type="button" onclick="clearButton()" class="btn btn-outline-danger">Clear</button>
            <button type="button" onclick="runButton()" class="btn btn-outline-danger">Run</button>
          </div>
        </div>
          <p class="lead">Some description of this mode goes here.</p>
          <div class="row">
            <div class="col-lg-4 col-md-12">
                <% var x = m2f.length;
                var y = x/3;
                var n = 0;
                for (var i = 0; i < y; i++) { %>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m2f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m2" + n.toString()%>" class="form-control" type="text" value="<%= m2d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
            <div class="col-lg-4 col-md-12">
                <%
                for (var i = 0; i < y; i++) { %>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m2f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m2" + n.toString()%>" class="form-control" type="text" value="<%= m2d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
            <div class="col-lg-4 col-md-12">
                <%
                for (var i = 0; i < y; i++) {
                  if (n >= x) {
                    break;
                  }%>
              <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label"><%= m2f[n]%></label>
                <div class="col-9">
                  <input id="<%= "m2" + n.toString()%>" class="form-control" type="text" value="<%= m2d[n]%>" id="example-text-input">
                </div>
              </div>
                <% n++; }%>
            </div>
          </div>
      </div>
    </div>


</body>

<style>
.btn:hover{
  cursor: pointer;
}

.jumbotron{
  display: none;
  border-radius: 25px;
  border: 0;
}

#runButton{
  display: none;
}

.col-form-label{
  text-align: center;
}
</style>

<script>
var mode = -1;
function showThis(num){
  mode = num;
  $("#runButton").show();
  $(".jumbotron").hide();
  if (num == 0) {
    $("#mode0jumbo").show();
  } else if (num == 1) {
    $("#mode1jumbo").show();
  } else {
    $("#mode2jumbo").show();
  }
}

function clearButton(){
    var name = "m" + mode.toString();
    var x = 50;
    for (var i = 0; i < x; i ++) {
        document.getElementById(name + i.toString()).value = "";
    }
}

function runButton(){
    alert("you ran mode " + mode);
}

</script>


</html>
