<!DOCTYPE html>
<html>
    <head>
        <title>Will Wang</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/ucbmfet.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:200,400,700|Montserrat:200,400,700" rel="stylesheet">
        <link rel="shortcut icon" href="images/icon.png">
        <script src="javascripts/jquery-1.9.1.js"></script>
        <script src="javascripts/ucbmft-script.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    </head>
    <body>
    <div id="main">

        <div id="title"><font color="white">UCB</font>MFET</div>
        <div id="subtitle">Hall of Fame</div>
        <div id="box">
            <div id="box-menu">
                <div class="menu-item" id="m1i01-menu">LIKES</div>
                <div class="menu-item" id="m1i02-menu">COMMENTS</div>
                <div class="menu-item" id="m1i03-menu">ACTIVE</div>
                <div class="menu-item" id="m1i04-menu">TALKATIVE</div>
                <div class="menu-item" id="m1i05-menu">EDGY</div>
            </div>
            <div class="box-item" id="m1i01" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">Most Liked Meme
                <div class="winners">
                    <div class="fb-post" data-href="<%= pml1ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pml2ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pml3ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pml4ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pml5ur%>" data-width="500" data-show-text="false"></div>
                </div>
            </div>
            <div class="box-item" id="m1i02" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">Most Commented Meme
                <div class="winners">
                    <div class="fb-post" data-href="<%= pmc1ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pmc2ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pmc3ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pmc4ur%>" data-width="500" data-show-text="false"></div>
                    <div class="fb-post" data-href="<%= pmc5ur%>" data-width="500" data-show-text="false"></div>
                </div>
            </div>
            <div class="box-item" id="m1i03" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">Most Memes Liked
                <div class="winners-users">
                    <div class="post-item-small"><div class="rank">1</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">2</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">3</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">4</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">5</div><div class="score-small">1000</div></div>
                </div>
            </div>
            <div class="box-item" id="m1i04" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">Most Comments Written
                <div class="winners-users">
                    <div class="post-item-small"><div class="rank">1</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">2</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">3</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">4</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">5</div><div class="score-small">1000</div></div>
                </div>
            </div>
            <div class="box-item" id="m1i05" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">Most Memes Produced
                <div class="winners-users">
                    <div class="post-item-small"><div class="rank">1</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">2</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">3</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">4</div><div class="score-small">1000</div></div>
                    <div class="post-item-small"><div class="rank">5</div><div class="score-small">1000</div></div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
